In [2]:
import pandas as pd

In [47]:
customer_df = pd.read_csv("data/customers.csv")
customer_df['user id'] = customer_df['Customer ID']
customer_df = customer_df[[
    'user id', 'Age', 'Gender', 'Item Purchased', 'Category',
    'Location', 'Size', 'Color', 'Season', 'Review Rating', 'Frequency of Purchases']][:100]
customer_df.to_json('data/customers.json')
customer_df

,user id,Age,Gender,Item Purchased,Category,Location,Size,Color,Season,Review Rating,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,Kentucky,L,Gray,Winter,3.1,Fortnightly
1,2,19,Male,Sweater,Clothing,Maine,L,Maroon,Winter,3.1,Fortnightly
2,3,50,Male,Jeans,Clothing,Massachusetts,S,Maroon,Spring,3.1,Weekly
3,4,21,Male,Sandals,Footwear,Rhode Island,M,Maroon,Spring,3.5,Weekly
4,5,45,Male,Blouse,Clothing,Oregon,M,Turquoise,Spring,2.7,Annually
...,...,...,...,...,...,...,...,...,...,...,...
95,96,37,Male,Sneakers,Footwear,Missouri,L,Pink,Fall,3.8,Monthly
96,97,32,Male,Gloves,Accessories,Delaware,S,Gold,Spring,3.6,Every 3 Months
97,98,21,Male,Shoes,Footwear,Virginia,M,Teal,Winter,4.8,Annually
98,99,20,Male,Jeans,Clothing,New York,XL,Teal,Spring,2.6,Annually
99,100,26,Male,Hoodie,Clothing,Missouri,XL,Indigo,Summer,3.7,Quarterly

In [33]:
sales_df = pd.read_csv("data/sales.csv")


sales_df = sales_df[['user id', 'product id', 'Interaction type']].dropna()[:100]

sales_df.to_json('data/sales.json')

In [34]:
products_df = pd.read_csv("data/products.csv")

products_df['product id'] = products_df['Uniqe Id']

products_df = products_df[["product id", "Product Name", "Category", "Selling Price"]][:100]

products_df.to_json('data/products.json')

In [35]:
sales_df

    user id                        product id Interaction type
0       1.0  4c69b61db1fc16e7013b43fc926e502d         purchase
1       2.0  66d49bbed043f5be260fa9f7fbff5957             view
2       3.0  2c55cae269aebf53838484b0d7dd931a             like
3       4.0  18018b6bc416dab347b1b7db79994afa             view
4       5.0  e04b990e95bf73bbe6a3fa09785d7cd0             like
..      ...                               ...              ...
95     96.0  72b935fe1a8026edc4fa21e68e6dfe80             view
96     97.0  10e74e9a2789a22f0ec2c123456edf67             like
97     98.0  8636a90d68d24c44934ef2ea51702f18             view
98     99.0  78c66630b1b56bb6ea887ea781b07d47             like
99    100.0  afef5d77b6049314aeb9c50421a2cee9             like

[100 rows x 3 columns]

In [49]:
df = pd.concat([customer_df, products_df, sales_df], axis=1)
df = df.loc[:, ~df.columns.duplicated()]
df.to_json('data/data.json')
df

,user id,Age,Gender,Item Purchased,Category,Location,Size,Color,Season,Review Rating,Frequency of Purchases,product id,Product Name,Selling Price,Interaction type
0,1,55,Male,Blouse,Clothing,Kentucky,L,Gray,Winter,3.1,Fortnightly,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",$237.68,purchase
1,2,19,Male,Sweater,Clothing,Maine,L,Maroon,Winter,3.1,Fortnightly,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",$99.95,view
2,3,50,Male,Jeans,Clothing,Massachusetts,S,Maroon,Spring,3.1,Weekly,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,$34.99,like
3,4,21,Male,Sandals,Footwear,Rhode Island,M,Maroon,Spring,3.5,Weekly,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,$28.91,view
4,5,45,Male,Blouse,Clothing,Oregon,M,Turquoise,Spring,2.7,Annually,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,$17.49,like
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,37,Male,Sneakers,Footwear,Missouri,L,Pink,Fall,3.8,Monthly,72b935fe1a8026edc4fa21e68e6dfe80,Aquarius I Heart Unicorns Playing Cards,$8.53,view
96,97,32,Male,Gloves,Accessories,Delaware,S,Gold,Spring,3.6,Every 3 Months,10e74e9a2789a22f0ec2c123456edf67,"Great Eastern Mega Man X4 9"" Plush",$17.57,like
97,98,21,Male,Shoes,Footwear,Virginia,M,Teal,Winter,4.8,Annually,8636a90d68d24c44934ef2ea51702f18,Robinson Racing Products Robinson Racing 1710 ...,$3.64,view
98,99,20,Male,Jeans,Clothing,New York,XL,Teal,Spring,2.6,Annually,78c66630b1b56bb6ea887ea781b07d47,Maisto R/C 1:14 Scale Lamborghini Huracan Radi...,$38.55,like
99,100,26,Male,Hoodie,Clothing,Missouri,XL,Indigo,Summer,3.7,Quarterly,afef5d77b6049314aeb9c50421a2cee9,Aquarius DC Wonder Woman Retro Playing Cards,$6.47,like