In [13]:
import pandas as pd

In [14]:
customer_df = pd.read_csv("data/customers.csv")
customer_df['user id'] = customer_df['Customer ID']
customer_df = customer_df[[
    'user id', 'Age', 'Gender', 'Item Purchased', 'Category',
    'Location', 'Size', 'Color', 'Season', 'Review Rating', 'Frequency of Purchases', 'Season']]
customer_df

,user id,Age,Gender,Item Purchased,Category,Location,Size,Color,Season,Review Rating,Frequency of Purchases,Season
0,1,55,Male,Blouse,Clothing,Kentucky,L,Gray,Winter,3.1,Fortnightly,Winter
1,2,19,Male,Sweater,Clothing,Maine,L,Maroon,Winter,3.1,Fortnightly,Winter
2,3,50,Male,Jeans,Clothing,Massachusetts,S,Maroon,Spring,3.1,Weekly,Spring
3,4,21,Male,Sandals,Footwear,Rhode Island,M,Maroon,Spring,3.5,Weekly,Spring
4,5,45,Male,Blouse,Clothing,Oregon,M,Turquoise,Spring,2.7,Annually,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,Virginia,L,Turquoise,Summer,4.2,Weekly,Summer
3896,3897,52,Female,Backpack,Accessories,Iowa,L,White,Spring,4.5,Bi-Weekly,Spring
3897,3898,46,Female,Belt,Accessories,New Jersey,L,Green,Spring,2.9,Quarterly,Spring
3898,3899,44,Female,Shoes,Footwear,Minnesota,S,Brown,Summer,3.8,Weekly,Summer
3899,3900,52,Female,Handbag,Accessories,California,M,Beige,Spring,3.1,Quarterly,Spring

In [15]:
sales_df = pd.read_csv("data/sales.csv")


sales_df = sales_df[['user id', 'product id', 'Interaction type']].dropna()

sales_df

      user id                        product id Interaction type
0         1.0  4c69b61db1fc16e7013b43fc926e502d         purchase
1         2.0  66d49bbed043f5be260fa9f7fbff5957             view
2         3.0  2c55cae269aebf53838484b0d7dd931a             like
3         4.0  18018b6bc416dab347b1b7db79994afa             view
4         5.0  e04b990e95bf73bbe6a3fa09785d7cd0             like
...       ...                               ...              ...
2994   2995.0  f5149cfb8e04d7b30bd7b4eaed6713b8             like
2995   2996.0  82318e8acf79bbeb3cf685a2732fb630             view
2996   2997.0  19d150365d798db47cccf1622b6ad754         purchase
2997   2998.0  136c0aff3ab56bd3d138775fe90ef970             view
2998   2999.0  a2c6dd69f022a658c5bcc2b3b52970f2             like

[2871 rows x 3 columns]

In [16]:
products_df = pd.read_csv("data/products.csv")

products_df['product id'] = products_df['Uniqe Id']

products_df = products_df[["product id", "Product Name", "Category", "About Product", "Selling Price"]]

products_df

,product id,Product Name,Category,About Product,Selling Price
0,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Sports & Outdoors | Outdoor Recreation | Skate...,Make sure this fits by entering your model num...,$237.68
1,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",Toys & Games | Learning & Education | Science ...,Make sure this fits by entering your model num...,$99.95
2,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,Toys & Games | Arts & Crafts | Craft Kits,Make sure this fits by entering your model num...,$34.99
3,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,Toys & Games | Hobbies | Models & Model Kits |...,Make 8 different Planes at one time. | Experim...,$28.91
4,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,Toys & Games | Puzzles | Jigsaw Puzzles,Make sure this fits by entering your model num...,$17.49
...,...,...,...,...,...
9997,1a22f23576bfdfe5ed6c887dc117aab6,Remedia Publications REM536B Money Activity Bo...,Toys & Games | Learning & Education | Counting...,NaN,$9.31
9998,e11514dcf1f087887cd5ea0bd646d1fc,Trends International NFL La Chargers HG - Mobi...,Toys & Games | Arts & Crafts,Make sure this fits by entering your model num...,$6.99
9999,c00301a38560da2abc89c1f86ce4b267,NewPath Learning 10 Piece Science Owls and Owl...,Office Products | Office & School Supplies | E...,Make sure this fits by entering your model num...,$37.95
10000,c2928dbf9796ceba44863a2736afb405,Disney Princess Do It Yourself Braid Set,Toys & Games | Arts & Crafts | Craft Kits,NaN,$3.58
10001,2bb94aefc3467ed83860e0e2712d5f10,"Hasegawa Ladders Lucano Step Ladder, Orange",Home & Kitchen | Furniture | Kids' Furniture |...,Make sure this fits by entering your model num...,$152.27

In [17]:
df = pd.concat([customer_df, products_df, sales_df], axis=1).dropna()
df = df.loc[:, ~df.columns.duplicated()]
df[:100].to_json('data/data.json')
df

,user id,Age,Gender,Item Purchased,Category,Location,Size,Color,Season,Review Rating,Frequency of Purchases,product id,Product Name,About Product,Selling Price,Interaction type
0,1.0,55.0,Male,Blouse,Clothing,Kentucky,L,Gray,Winter,3.1,Fortnightly,4c69b61db1fc16e7013b43fc926e502d,"DB Longboards CoreFlex Crossbow 41"" Bamboo Fib...",Make sure this fits by entering your model num...,$237.68,purchase
1,2.0,19.0,Male,Sweater,Clothing,Maine,L,Maroon,Winter,3.1,Fortnightly,66d49bbed043f5be260fa9f7fbff5957,"Electronic Snap Circuits Mini Kits Classpack, ...",Make sure this fits by entering your model num...,$99.95,view
2,3.0,50.0,Male,Jeans,Clothing,Massachusetts,S,Maroon,Spring,3.1,Weekly,2c55cae269aebf53838484b0d7dd931a,3Doodler Create Flexy 3D Printing Filament Ref...,Make sure this fits by entering your model num...,$34.99,like
3,4.0,21.0,Male,Sandals,Footwear,Rhode Island,M,Maroon,Spring,3.5,Weekly,18018b6bc416dab347b1b7db79994afa,Guillow Airplane Design Studio with Travel Cas...,Make 8 different Planes at one time. | Experim...,$28.91,view
4,5.0,45.0,Male,Blouse,Clothing,Oregon,M,Turquoise,Spring,2.7,Annually,e04b990e95bf73bbe6a3fa09785d7cd0,Woodstock- Collage 500 pc Puzzle,Make sure this fits by entering your model num...,$17.49,like
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,2994.0,32.0,Female,Jacket,Outerwear,Kansas,L,Indigo,Spring,4.2,Bi-Weekly,44fa52761ab2e7e0e04521a0ab70fc42,"U.S. Toy Dozen Foam Mini, Football Stress Balls",Make sure this fits by entering your model num...,$8.40,view
2994,2995.0,69.0,Female,Sweater,Clothing,Nevada,S,White,Winter,3.5,Quarterly,f5149cfb8e04d7b30bd7b4eaed6713b8,Bandito MT 2.8 1/10 RC Monster Truck Tires wit...,Make sure this fits by entering your model num...,$27.31,like
2995,2996.0,29.0,Female,Jeans,Clothing,Virginia,M,Orange,Summer,2.5,Bi-Weekly,82318e8acf79bbeb3cf685a2732fb630,Steiff Baby Teddy & Me Teddy Bear Boy with Paj...,Make sure this fits by entering your model num...,$45.95,view
2997,2998.0,41.0,Female,Sweater,Clothing,Idaho,S,Yellow,Spring,2.7,Every 3 Months,136c0aff3ab56bd3d138775fe90ef970,Zvezda 5023 - 1/72 German King Tiger Ausf B He...,Make sure this fits by entering your model num...,$14.90,view
2998,2999.0,31.0,Female,Hoodie,Clothing,Alaska,M,Red,Summer,4.7,Quarterly,a2c6dd69f022a658c5bcc2b3b52970f2,DC Comics Shazam! Eugene Action Figure,Make sure this fits by entering your model num...,$9.44,like